/* Inserta tu codigo aqui */
*/{
    margin: 0%;
    padding: 0%;
    border: 0px;
}

.container{
    margin: 0% auto;
    padding: 0%;
}


/*HEADER*/

.container .header{
    display: block;
    background-color: white;
    padding: 0% 5%;
}

.container .header .header-left{
    display: inline-block;
    vertical-align: middle;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.container .header .header-left img{
    max-width: 40%;
    margin: 0%;
    padding: 0%;
}

.container .header .header-right{
    display: inline-block;
    vertical-align: middle;
    margin: 0%;
    padding: 0%;
    text-align: center;
    width: 70%;
}

.container .header .header-right ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.container .header .header-right ul li{
    margin: 10px;
    display: inline;
}

.container .header .header-right ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(83, 88, 95);
}


/*MAIN 1*/

.container .main-1{
    margin: 0%;
    padding: 0%;
}

.container .main-1 img{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.container .main-1 p{
    background-color: #F2F2F2;
    text-align: center;
    margin: 0%;
    padding: 5% 20%;
}


/*MAIN 2*/

.container .main-2{
    display: block;
    padding: 5%;
    text-align: center;
}

.container .main-2 .mision{
    display: inline-block;
    max-width: 45%;
    text-align: center;
    margin-right: 5%;
}

.container .main-2 .vision{
    display: inline-block;
    max-width: 45%;
    text-align: center;
}


/*MAIN 3*/

.container .main-3{
    display: block;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.container .main-3 .img50{
    margin: 0%;
    padding: 0%;
    display: inline-block;
    max-width: 45%;
    vertical-align: top;
    text-align: right;
    height: 250px;
}

.container .main-3 .img50 img{
    max-width: 100%;
    object-fit: cover;
}

.container .main-3 .txt50{
    display: inline-block;
    max-width: 35%;
    margin: 0%;
    padding: 5%;
    text-align: center;
    vertical-align: top;
    height: 250px;
    background-image: url(../img/fondo.jpg);
}

.container .main-3 .txt50 h3{
    color: #F2F2F2;
}

.container .main-3 .txt50 p{
    color: #F2F2F2;
}


/*MAIN 4*/

.container .main-4{
    margin: 0%;
    text-align: center;
}

.container .main-4 .cabecera-main4{
    padding: 5% 15%;
}
.container .main-4 .cabecera-main4 h3{
    font-weight: bold;
    font-size: 1.5em;
}

.container .main-4 .grid-servicios{
    margin: 0%;
    padding: 0% 5%;
}

.container .main-4 .grid-servicios .grid-item{
    display: inline-block;
    max-width: 20%;
    margin: 5px 30px 15px 30px;
    vertical-align: top;
}

.container .main-4 .grid-servicios .grid-item h3{
    color: #5E8039;
}


/*MAIN 5*/

.container .main-5{
    margin: 0%;
    padding: 30px;
    background-color: #5E8039;
    text-align: center;
}

.container .main-5 h2{
    color: #F2F2F2;
}

.container .main-5 .section-main5{
    display: block;
    margin: 20px 0px;
    padding: 0%;
}

.container .main-5 .section-main5 img{
    max-width: 40%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.container .main-5 .section-main5 .text-main5{
    max-width: 40%;
    text-align: left;
    color: #F2F2F2;
    display: inline-block;
    vertical-align: top;
}


/*MAIN 6*/

.container .main-6{
    margin: 0%;
    padding: 5px;
    text-align: center;
}

.container .main-6 h2{
    color: #5E8039;
    display: block;
}

.container .main-6 .equipo{
    display: block;
}

.container .main-6 .equipo .persona-equipo{
    display: inline-block;
    max-width: 35%;
    margin: 0px 25px
}

.container .main-6 .equipo .persona-equipo .foto-perfil{
    border-radius: 200px;
}

.container .main-6 .equipo .persona-equipo h2{
    color: black;
}

.container .main-6 .equipo .persona-equipo .cargo{
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}

.container .main-6 .equipo .persona-equipo p{
    margin: 0%;
    padding: 0%;
}

.container .main-6 .equipo .persona-equipo .redes-sociales-main6{
    list-style-type: none;
    margin: 15px 0px;
    padding: 0%;
}

.container .main-6 .equipo .persona-equipo .redes-sociales-main6 li{
    display: inline-block;
    margin: 0px 5px;
    border-radius: 0px;
}

.container .main-6 .equipo .persona-equipo .redes-sociales-main6 li .icono-perfil{
    max-width: 40px;
}


/*MAIN 7*/

.container .main-7{
    margin: 0%;
    padding: 10px;
    background-image: url(../img/fondo2.jpg);
}

.container .main-7 h2{
    font-weight: bold;
    text-align: center;
}

.container .main-7 .blog{
    display: block;
    margin: 0px 30px;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.container .main-7 .blog .flecha-izq{
    display: inline-block;
    margin: 100px 30px 0px 0px;
    padding: 0px;
    vertical-align: top;
    width: 50px;
}

.container .main-7 .blog .flecha-der{
    display: inline-block;
    margin: 100px 0px 0px 30px;
    padding: 0px;
    vertical-align: top;
    width: 50px;
}

.container .main-7 .blog .post-blog{
    text-align: left;
    display: inline-block;
    max-width: 25%;
    margin: 0px 10px;
}
.container .main-7 .blog .post-blog img{
    max-width: 90%;
}

.container .main-7 .blog .post-blog h2{
    text-align: left;
    margin: 0%;
}

.container .main-7 .blog .post-blog .fecha{
    margin: 0%;
}
.container .main-7 .blog .post-blog p{
    margin: 0%;
}
.container .main-7 .blog .post-blog-hover{
    text-align: left;
    display: inline-block;
    max-width: 25%;
    margin: 0px 10px;
}
.container .main-7 .blog .post-blog-hover img{
    max-width: 90%;
}
.container .main-7 .blog .post-blog-hover h2{
    text-align: left;
    margin: 0%;
    color: #5E8039;
}
.container .main-7 .blog .post-blog-hover .fecha{
    margin: 0%;
    color: #5E8039;
}
.container .main-7 .blog .post-blog-hover p{
    margin: 0%;
    color: #5E8039;
}


/*MAIN 8*/

.container .main-8{
    margin: 0%;
    padding: 60px 120px;
    background-color: #4D4D4D;
}
.container .main-8 .grid-social{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0px;
    vertical-align: top;
}
.container .main-8 .grid-social .grid-social-item{
  border: 1px solid white;
  text-align: left;
  padding: 10px 10px 150px 15px;
}
.container .main-8 .grid-social .grid-social-item h2{
    color: #F2F2F2;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.container .main-8 .grid-social .grid-social-item img{
    max-width: 50px;
    display: inline-block;
    text-align: right;
    margin: 10px 0px 0px 80px;
}


/*FOOTER*/

.container .footer{
    margin: 0%;
    padding: 50px 80px;
    text-align: center;
}
.container .footer .footer-left{
    margin: 0%;
    padding: 0%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
.container .footer .footer-left .footlist-left{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.container .footer .footer-left .footlist-left .list-yellow{
    color: #fac60e;
}
.container .footer .footer-right{
    margin: 0%;
    padding: 0%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
.container .footer .footer-right .footlist-right{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.container .footer .footer-right .footlist-right .list-bold{
    font-weight: bold;
}
